* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: blue;
    text-align: center;
}

.calculator {
    height: auto;
    width: 300px;
    border: 2px solid black;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    padding: 0 3px 3px;
    background-color: gainsboro;
}

.top {
    display: flex;
    justify-content: space-evenly;
}

.display {
    height: 40px;
    width: 74%;
    margin-top: 5px;
    
}

.main-buttons {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.button {
    width: 24%;
    height: 40px; 
    padding: 2px;
    margin-top: 3px;
}
